.darkBg{
    background-image: url('../pictures/spruce.webp');
    background-attachment: fixed;
}
.lightBg{
    background-image: url('../pictures/birch.webp');
    background-attachment: fixed;
}

#competences .card{
    cursor: help;
}

#contact .card{
    cursor: pointer;
}

.pdfobject-container {
    height: 700px;
}

#slam:hover, #sisr:hover, .card:hover{
    transform: scale(1.05) rotate(0.0067turn);
    transition: transform 0.2s ease;
}

#realisations img{
    max-height: 200px;
}