#presentation{
    background-image: url('../pictures/stars.gif');
    background-attachment: fixed;
    /*
    background-repeat: no-repeat;
    */
}

.card{
    cursor: help;
}

.pdfobject-container {
    height: 455px;
}