.darkBg{
    background-image: url('../pictures/spruce.webp');
    background-attachment: fixed;
}
.lightBg{
    background-image: url('../pictures/birch.webp');
    background-attachment: fixed;
}

.competenceCard{
    cursor: help;
}

.pdfobject-container {
    height: 700px;
}